<div class="row shifted">
  <div class="col-md-12">
    <h1><span>{{title}}</span></h1>
  </div>
</div>
<div class="row shifted">
  <div class="col-md-12">
    <div class="form-group">
      <label for="urls"><h2>Your formatted links</h2></label>
      <textarea class="form-control code" id="code" name="code" rows="6">{{code}}</textarea>
    </div>
  </div>
</div>
<div class="row shifted">
  <div class="col-md-12">
    <a class="btn btn-primary" href="/" role="button" onclick="window.history.go(-1); return false;">Back to the settings</a>
  </div>
</div>
